@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Libre+Caslon+Display&family=Tangerine:wght@400;700&display=swap");

:root {
  --c1: #375520;
  --c2: #4e6a39;
  --c3: #839774;
  --c4: #abbe9d;
  --c5: #d0dec5;
  --b1: #000000;
  --w1: #ffffff;
}

/* Geral  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

/* INDEX */

.index {
  background: url(./imgs/bkg-01.jpg) no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.index .container {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background: rgba(255, 255, 255, 0.75);
  padding: 60px 40px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.index .container::after {
  content: '';
  background: url(./imgs/polaroid.png) no-repeat center center;
  background-size: contain;
  width: 100px;
  height: 120px;
  position: absolute;
  right: -40px;
  bottom: -20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transform: rotate(20deg);
}

.index .container .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.index .container .header h1 {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  margin-bottom: -10px;
  color: var(--c1);
}

.index .container h2 {
  font-size: 36px;
  color: var(--c4);
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.index .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.index .content p {
  font-size: 24px;
  line-height: 1;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--c1);
}

.index .footer {
  font-size: 22px;
  text-align: center;
  line-height: 24px;
}

.index .footer span {
  font-size: 18px;
  color: var(--c2);
}
.index .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.index .btn {
  text-decoration: none;
  font-size: 38px;
  padding: 8px 48px 4px 48px;
  color: white;
  cursor: pointer;
  color: var(--c3);
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  border: 1px solid var(--c5);
  border-radius: 40px;
}

.index .btn:hover {
  color: var(--c2);
  border: 1px solid var(--c4);
}

/* PRESENÇA */

.presenca {
  background: url(./imgs/bkg-01.jpg) no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.presenca .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 420px;
  gap: 32px;
  background: rgba(255, 255, 255, 0.75);
  padding: 60px 40px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.presenca .container .header h1 {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
  color: var(--c1);
  text-align: center;
  line-height: 56px;
}

.presenca .container .content p {
  font-size: 24px;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--c1);
}

.presenca form {
  width: 100%;
  position: relative;
}

.presenca input {
  font-size: 24px;
  width: 100%;
  padding: 8px 24px;
  border: 1px solid var(--c4);
  border-radius: 30px;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--c1);
}

.presenca form button {
  position: absolute;
  right: 0px;
  height: 100%;
  font-size: 24px;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  background: var(--c3);
  color: var(--c5);
  padding: 0px 24px 0px 12px;
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
  border: none;
}

.presenca form button:hover {
  color: var(--b1);
  /* background: var(--c2); */
}

.presenca .btn {
  text-decoration: none;
  font-size: 38px;
  padding: 8px 48px 4px 48px;
  color: white;
  cursor: pointer;
  color: var(--c3);
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  border: 1px solid var(--c5);
  border-radius: 40px;
}

.presenca .btn:hover {
  color: var(--c2);
  border: 1px solid var(--c4);
}

/* PRESENTES */

.presentes {
  background: url(./imgs/bkg-01.jpg) no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.presentes .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 440px;
  height: 80vh;
  gap: 32px;
  background: rgba(255, 255, 255, 0.75);
  padding: 60px 20px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.presentes .container .header h1 {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: var(--c1);
  text-align: center;
  line-height: 62px;
}

.presentes .container .itens {
  overflow-y: scroll;
}

.presentes .container .itens .scroll-itens {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* justify-content: space-between; */
  gap: 10px;
  flex-wrap: wrap;
}

.presentes .container .itens .box {
  width: 120px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.presentes .container .itens .box .presenteImg {
  width: 100%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.presentes .container .itens .box h2 {
  font-family: "Libre Caslon Display", serif;
  font-size: 16px;
  line-height: 16px;
  color: var(--c1);
}

.presentes .container .itens .box h4 {
  font-size: 26px;
  color: var(--c4);
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.presentes .container .itens .box strong {
  color: var(--c1);
  font-size: 32px;
}

.presentes .container .itens .box .choice {
  font-family: "Libre Caslon Display", serif;
  font-size: 16px;
  text-decoration: none;
  background: var(--c2);
  color: var(--w1);
  border: none;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
}

.presentes .container .itens .box .choice:hover {
  background: var(--c1);
  /* color: var(--c5); */
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerModal {
  background: var(--c5);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  padding: 20px 20px;
}

.modal .containerModal img {
  width: 200px;
  margin: auto;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.modal .containerModal h1 {
  font-family: "Libre Caslon Display", serif;
  font-size: 16px;
  line-height: 16px;
  color: var(--c1);
  text-align: center;
}

.modal .containerModal h4 {
  font-size: 48px;
  color: var(--b1);
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.modal .containerModal .copyButton {
  font-family: "Libre Caslon Display", serif;
  font-size: 16px;
  text-decoration: none;
  background: var(--c2);
  color: var(--w1);
  border: none;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
}

.presentes .container .itens .box .choice:hover {
  background: var(--c1);
  /* color: var(--c5); */
}

.closeModal {
  color: var(--b1);
  background: var(--c5);
  position: fixed;
  top: 20px;
  right: 20px;
  font-family: "Libre Caslon Display", serif;
  padding: 10px 13px;
  border-radius: 50%;
  border: 1px solid var(--c1);
  cursor: pointer;
}

.closeModal:hover {
  color: var(--w1);
  background: var(--c2);
}

.presentes .btn {
  text-decoration: none;
  font-size: 38px;
  padding: 8px 48px;
  color: white;
  cursor: pointer;
  color: var(--c3);
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  border: 1px solid var(--c5);
  border-radius: 40px;
}

.presentes .btn:hover {
  color: var(--c2);
  border: 1px solid var(--c4);
}

/* Localização */

.local {
  background: url(./imgs/bkg-01.jpg) no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.local .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 460px;
  gap: 32px;
  background: rgba(255, 255, 255, 0.75);
  padding: 60px 40px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.local .container .header h1 {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
  color: var(--c1);
}

.local .container .content p {
  font-size: 16px;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--c1);
}

.local .container iframe {
  width: 100%;
  height: 300px;
}

.local .content {
  width: 100%;
}

.local .btn {
  text-decoration: none;
  font-size: 38px;
  padding: 8px 48px;
  color: white;
  cursor: pointer;
  color: var(--c3);
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  border: 1px solid var(--c5);
  border-radius: 40px;
}

.local .btn:hover {
  color: var(--c2);
  border: 1px solid var(--c4);
}

@media (max-width: 580px) {
  .index {
    padding: 0px 20px;
  }

  .container {
    padding: 60px 30px !important;
  }

  .index .container::after {
    content: '';
    background: url(./imgs/polaroid.png) no-repeat center center;
    background-size: contain;
    width: 60px;
    height: 70px;
    position: absolute;
    left: 90%;
    top: 0px;
    right: unset;
    bottom: unset;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transform: rotate(20deg) translate(-50%);
  }

  .index .container .header h1 {
    font-size: 56px;
    margin-bottom: -10px;
  }

  .index .container .header h2 {
    font-size: 28px;
  }

  .index .content p {
    font-size: 18px;
    line-height: 1;
  }

  .index .footer {
    font-size: 18px !important;
    line-height: 1;
  }

  .index .btn {
    font-size: 28px;
  }

  .presenca {
    padding: 0px 20px;
  }

  .presenca .container {
    padding: 60px 40px;
  }

  .presenca .container .header h1 {
    font-size: 28px;
    line-height: 1;
  }

  .presenca .container .content p {
    font-size: 18px;
    line-height: 1;
  }

  .presenca .btn {
    font-size: 28px;
  }

  .presentes .container {
    padding: 20px;
    width: 300px;
  }

  .presentes .container .itens {
    flex-wrap: wrap;
    /* gap: 30px; */
  }

  .local {
    padding: 60px 20px;
    height: auto;
  }

  .local .container {
    padding: 60px 20px;
  }
}
